{% extends "base.html" %}

{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="authorization">
        <div class="authorization-box">
            <h1>Log-in</h1>
            <p>Please, use the following form to log-in:</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                {% if login_error %}
                    <p style="color: red">Invalid login</p>
                {% endif %}
                <p><input class="grey-button" type="submit" value="Log-in"></p>
            </form>
            <a href="{% url 'registration' %}">Registration </a>
        </div>
    </div>
{% endblock %}